@import "tailwindcss";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));



/* Bold */
@font-face {
  font-family: 'Montserrat_Bold';
  src: url('/font/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


/* Light */
@font-face {
  font-family: 'Montserrat_Light';
  src: url('/font/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'Montserrat_Regular';
  src: url('/font/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Semi Bold */
@font-face {
  font-family: 'Montserrat_SemiBold';
  src: url('/font/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Thin */
@font-face {
  font-family: 'Montserrat_Thin';
  src: url('/font/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Jameel';
  src: url('/font/Jameel.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar-track {
  background: #f3ece4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d88b79;
  border-radius: 10px;
  border: 3px solid #f3ece4;
}

::-webkit-scrollbar-thumb:hover {
  background: #a71f13;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #9C6644 #f3ece4;
}

@theme {


  --color-ivory_sand: #EDE0D4;
  --color-soft_latte: #E6CCB2;
  --color-warm_caramel: #DDB892;
  --color-clay_brown: #B08968;
  --color-deep_walnut: #7F5539;
  --color-rustic_bronze: #9C6644;
  --color-dark_wood: #3a160a;

  /* text color */
  --color-primary1: #FFF;


  /*  font  */

  --font-poppins: "Poppins", serif;
  --font-base: 'Montserrat_Regular', sans-serif;
  --font-bold: 'Montserrat_Bold', sans-serif;
  --font-thin: 'Montserrat_Thin', sans-serif;
  --font-light: 'Montserrat_Light', sans-serif;
  --font-semi-bold: 'Montserrat_SemiBold', sans-serif;
  --font-jameel: 'Jameel', sans-serif;
}

/* Theme Variables */
:root {
  --color-primary_dark: #0B5795;
  --color-primary_light: #13AAF1;
  /* Colors */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}




/* Standard */

.isolate_container {
  @apply px-7 md:px-16 lg:px-22 py-6 md:py-12 lg:py-24;
}

.full_container {
  @apply py-6 md:py-12 lg:py-24;
}

.image_container {
  @apply px-7 md:px-16 lg:px-22 py-6 md:py-12 lg:py-24 h-48 md:h-96;
}

.isolate_bars {
  @apply px-7 md:px-12 lg:px-14 py-2 md:py-3 lg:py-4;
}

.child_bars {
  @apply px-7 md:px-16 lg:px-22 pt-2 md:pt-3 lg:pt-4;
}

.child_container {
  @apply px-7 md:px-16 lg:px-22 pt-6 md:pt-12 lg:pt-24;
}

.button {
  @apply py-5;
}

.buttonadmin {
  @apply py-3;
}

.inputfield {
  @apply py-3 px-6;
}

.searchfield {
  @apply py-2 px-6;
}

.container_difference {
  @apply gap-3 md:gap-6 lg:gap-12 xl:gap-20;
}

.spaceItems {
  @apply space-y-6;
}

/* Padding Classes*/
.paddingleft {
  @apply pl-7 md:pl-10 lg:pl-14;
}

.paddingright {
  @apply pr-7 md:pr-10 lg:pr-14;
}

.paddingtop {
  @apply pt-6 md:pt-10 lg:pt-14;
}

.paddingbottom {
  @apply pb-6 md:pb-10 lg:pb-14;
}

/* components */
.dualcomponent {
  @apply flex justify-between items-center;
}

/* Font Configuration */

.title {
  @apply text-3xl md:text-5xl lg:text-5xl xl:text-5xl;
}

.subtitle {
  @apply text-3xl md:text-4xl lg:text-6xl xl:text-6xl;
}

.heading {
  @apply text-xl md:text-3xl lg:text-5xl xl:text-5xl;
}

.subheading {
  @apply text-lg md:text-2xl lg:text-4xl xl:text-4xl;
}

.subheading2 {
  @apply text-base md:text-xl lg:text-3xl xl:text-3xl;
}

.subheading3 {
  @apply text-sm md:text-base lg:text-lg xl:text-xl;
}

.content {
  @apply text-sm md:text-base lg:text-lg xl:text-lg;
}

.minicontent {
  @apply text-sm md:text-base lg:text-base xl:text-base;
}

.microcontent {
  @apply text-xs;
}

.buttontext {
  @apply text-base lg:text-xl xl:text-xl;
}

.inputtext {
  @apply text-base lg:text-xl xl:text-xl;
}






@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeSlideInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeSlideInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes menuItem {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease forwards;
}

.animate-fadeSlideInLeft {
  animation: fadeSlideInLeft 0.7s ease forwards;
}

.animate-fadeSlideInRight {
  animation: fadeSlideInRight 0.7s ease forwards;
}

.animate-slideDown {
  animation: slideDown 0.4s ease forwards;
}

.animate-menuItem {
  animation: menuItem 0.4s ease forwards;
}